body{
   background: linear-gradient(to bottom, #ffffff, #e8e6ff);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
section {
    margin-bottom: 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid indigo;
    
}

.logo img{
    width: 80px;
    height: auto;
    margin-left: 16px;
}

.list{
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0 20px 0 0;
    padding: 0;
    flex-wrap: wrap;
}

.list a{
    text-decoration: none;
    font-size: 18px;
    color: indigo; 
    padding: 8px 14px;
    border-radius: 6px;
    
    
}

.list a:hover,
.list a:focus{
    background-color: indigo;
    color: #ffffff;
}


.titull-historia {
    display: flex; 
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;              
    gap: 20px;                  
    border-radius: 10px;        
    border: 1px solid #ddd; 
    background: #f2f4ff; 
    font-family: Arial, sans-serif;  
    align-items: flex-start;
    margin-top: 20px;
}


.titull-historia img {
    width: 400px;               
    height: auto;
    border-radius: 8px;        
    object-fit: cover;
}


.historia p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}
.historia h1 {
    text-align: center;
    margin-bottom: 20px;
    
}



.players-foto {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.players-foto img {
    width: 200px;
    border-radius: 10px;
}

.Container-players {
    display: flex;
    gap: 20px;
    padding: 0 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width:none;
    
}
.Container-players::-webkit-scrollbar {
    height: 0;
}
.players-foto{
    border:1px solid indigo;
}
.titulli-players{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Container-coaches{
    display: flex;
    gap: 20px;
    padding: 0 20px;
    justify-content: center;
}

.titulli-coaches{
    text-align: center;
    margin: 20px auto;
    border: 1px solid indigo;
    border-radius: 10px;
    max-width: 900px;    
}
.news-title{
    text-align: center;
}

.container-news{
    display: flex;
    gap: 25px;
    padding: 0 20px;
    flex-wrap: nowrap;
    align-items:flex-start;
    justify-content: center;
}
.news{
    background: #f4f1ff;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    height: 320px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.news iframe{
   width: 300px;
   height: 200px;
}
.news p:nth-child(2) {
    font-size: 14px;          
    color: #6d6d6d;           
    margin-bottom: 3px;       
    text-align: left;
}
.news p:nth-child(3) {
    font-size: 18px;          
    color: #000;              
    line-height: 1.3;
    text-align: left;
   
}