body{
   background: linear-gradient(to bottom, #ffffff, #e8e6ff);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
section {
    margin-bottom: 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid indigo;
    
}

.logo img{
    width: 80px;
    height: auto;
    margin-left: 16px;
}

.list{
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0 20px 0 0;
    padding: 0;
    flex-wrap: wrap;
}

.list a{
    text-decoration: none;
    font-size: 18px;
    color: indigo; 
    padding: 8px 14px;
    border-radius: 6px;
    
    
}

.list a:hover,
.list a:focus{
    background-color: indigo;
    color: #ffffff;
}

.banner img{
    display: block;
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
    opacity: 0.9;
}


.form-regjistrohu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;
    background: #f7f7fb;
    border-radius: 15px;
    max-width: 1000px;
    margin: 40px auto;
     box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
.form-regjistrohu img{
    width: 500px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}
.form-regjistrohu form{
    background: white;
    padding: 30px 40px;
    border-radius: 15px;
    width: 360px;
    height: auto;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}
.form-regjistrohu h2 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #444;
    text-align: center;
}

.form-regjistrohu label {
    font-weight: 600;
    color: #333;
}
.form-regjistrohu .input,
.form-regjistrohu select {
    width: 100%;
    padding: 10px 12px;
    margin: 8px 0 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}
.form-regjistrohu .radio {
    width: 50px;
    margin: 4px 0 18px;
    padding: 10px 12px;
}
.form-regjistrohu label.gjinia{
    font-weight: 500; 
}


.form-regjistrohu button {
    width: 100%;
    padding: 12px;
    background: indigo;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.form-regjistrohu button:hover {
    background:  #3B0068;
}

.merch h1{
    text-align: center;
}
.jerseys{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    align-items: center;
}
.jersey img{
    width: 400px;
    height: auto;
}
.forma-f {
    border: 1px solid indigo;
    width:300px;
    height:30px;
    border-radius: 3px;
    text-align: center;
}
.forma2 select{
    border: 1px solid indigo;
    width:310px;
    height:35px;
    border-radius: 3px;
    text-align: center;
}
.radio {
    margin-top: 10px;
}
.forma2 button {
    margin-top: 15px;
    background-color: indigo;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer; 
    width:310px;
    height:35px;
}


.contact-section{
    border : 2px solid indigo;
}





.footer{
    background-color: white;
    padding: 0;
    border-top: 1px solid indigo
    
}
.sponsors{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin-top: 40px;
    
}
.sponsors img{
    width: 650px;
    height: 60px;
}
.footer-row-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 20px 40px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    margin-bottom:0;
}
.footer-text{
    display: flex;
    align-items: center;
    padding: 10px 0;
    color: #555;
    font-size: 14px;
    gap: 10px;
}
.logo-f img{
    width: 60px;
    height: auto;
    margin-left: 16px;
    margin-bottom: 10px;
}

.footer-list li{
    color: #555;
    font-size: 14px;
}