body{
   font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
      background-color: #f2f0ff;
    background-image:
        linear-gradient(to right, rgba(75,0,130,0.08), rgba(75,0,130,0)),
        linear-gradient(to bottom, rgba(95,25,211,0.15), rgba(255,255,255,0));

}

h1, h2, h3 {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
}

section {
    margin-bottom: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid indigo;
    
}

.logo img{
    width: 80px;
    height: auto;
    margin-left: 16px;
}

.list{
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0 20px 0 0;
    padding: 0;
    flex-wrap: wrap;
}

.list a{
    text-decoration: none;
    font-size: 18px;
    color: indigo; 
    padding: 8px 14px;
    border-radius: 6px;
    
    
}

.list a:hover,
.list a:focus{
    background-color: indigo;
    color: #ffffff;
}

.signup-box {
    width: 480px; 
    padding: 35px;
    margin: 100px auto;
    background: white;
    box-shadow: 0 10px 40px rgba(75,0,130,0.2);
    border-radius: 12px;
}

.signup-box h2 {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    margin-bottom: 25px;
    color: indigo;
}

.role-selection {
    margin-bottom: 15px;
}

.role-selection label {
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 6px;
}

.role-selection select {
    width: 100%;
    padding: 12px;
    border: none;
    background: #f1f1f1;
    margin-bottom: 15px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 6px 0 15px;
    border: none;
    background: #f1f1f1;
}

.submit {
    width: 100%;
    padding: 12px;
    background: indigo;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}