body{
   font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color:white
}
   

h1, h2, h3 {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
}

section {
    margin-bottom: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid indigo;
    
}

.logo img{
    width: 80px;
    height: auto;
    margin-left: 16px;
}

.shkrim{
    font-size: 20px;
    color: indigo;
    margin: 0 50px 0 0;
    
}

.background-overlay{
    display: flex;
    justify-content:space-evenly;    
    align-items: center;         
    gap: 50px;
}

.auth-box {
    background: white;
    width: 480px;
    padding: 30px; 
    box-shadow: 0 10px 40px rgba(75,0,130,0.2); 
    border-radius: 12px;
    background-color:white
}
.foto1 img{
    padding-top: 30px;
    width: 500px;
    height: auto;
    object-fit: cover;
    
}


.switch {
    display: flex;
    margin-bottom: 20px;
}


.switch button {
    width: 50%;
    padding: 12px;
    border: none;
    background: #eee;
    cursor: pointer;
}

.switch .active {
    background: indigo;
    color: white;
}


.form {
    display: none;
}

.form.login {
    display: block;
}
.emailPassword {
    margin-right: 17px;
    margin-bottom: 7px;

}

label {
    font-size: 14px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin: 6px 0 15px;
    border: none;
    background: #f1f1f1;
}


.submit {
    width: 100%;
    padding: 10px;
    background: indigo;
    color: white;
    border: none;
    cursor: pointer;
}

.remember {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
}

.remember input {
    width: auto; 
}
