body{
    background-color:lavender;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.navbar{
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    width: 100%;
    height: 70px;
    
}
.logo img{
    float: left;
    margin-left: 180px;
    width: 90px;
}

.list{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-right: 400px;
     flex-wrap: wrap;
    
}
.list a{
    text-decoration: none;
    font-size: 20px;
    color: indigo;
    padding: 12px 22px;
    border: 1px solid indigo;

}
.list a:hover{
    background-color:indigo ;
    color: white;
    border-radius: 8px;
}
.banner{
   pozition: relative;
   text-align: center;
   padding: 0;
}
.banner img{
    position:static;
    display: block;
    width: 100%;
    height:500px;
}