body{
   background: linear-gradient(to bottom, #ffffff, #e8e6ff);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
section {
    margin-bottom: 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background-color: white;
    width: 100%;
    
}

.logo img{
    width: 80px;
    height: auto;
    margin-left: 16px;
}

.list{
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0 20px 0 0;
    padding: 0;
    flex-wrap: wrap;
}

.list a{
    text-decoration: none;
    font-size: 18px;
    color: indigo; 
    padding: 8px 14px;
    border-radius: 6px;
    
    
}

.list a:hover,
.list a:focus{
    background-color: indigo;
    color: #ffffff;
}


.banner{
    position: relative;
    text-align: center;
    padding: 0;
}

.banner img{
    display: block;
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
}
.textbanner {
    position: absolute;
    top: 47%;
    left: 1%;
    color: white;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    gap: 20px;
    overflow-x: auto;
    flex-wrap: nowrap;
    scrollbar-width:none;
}
.row::-webkit-scrollbar {
   height: 0;
}
.rezults{
    text-align: center;
    border: 1px solid indigo;
    
}
.rezults img{
    width: 320px;
    height: 430px;
    max-height: 600px;
    object-fit: cover;
}
.Schedule h1{
     padding: 5px 40px;
     border-left: 6px solid indigo;
    
}
.rezults p{
    font-size: 20px;
    color: black;
}
.tabela-champ{
    display: flex;
    gap: 100px;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 40px;
    background: #f4f1ff;
    margin: 10px 40px 40px 40px;
    border-radius: 20px;
    border: 2px solid indigo;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    flex-wrap: wrap;
}

.tabela{
    width: 100%;
    max-width: 600px;
    text-align: center;
    background: #f7f7fb; 
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.tabela th{
    background: indigo;
    color: white;
    padding: 12px;
    font-size: 16px;
}
.tabela tr:nth-child(2) th {
    background: #4b0082dd;  
    font-weight: normal;
}
.tabela td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    color: #333;
}
.tabela td:first-child {
    font-weight: bold;
    color: indigo;
}
.tabela tr:last-child td {
    border-bottom: none;
}

.leaders img{
    width: 100%;
    max-width: 350px;
    height: auto;
    max-height: 600px;
    object-fit: cover;
    border-radius: 10px;

} 


.videos-text{
    margin-top: 40px;
    background-color: indigo;
    padding: 25px;
    color: white;
    border-radius: 10px;
}

.videos-text h2 {
    margin-bottom: 25px;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.video-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    
}

#video1{
    max-width: 700px;
    
}
#video1 iframe{
    width: 700px;
    height: 435px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}
#video1 p {
    margin-top: 10px;
    font-size: 18px;
}


.other-videos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.next-video{
    text-align: center;
    max-height:600px ;
    background: #f4f1ff;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    display: flex;
    padding: 15px;
    border-radius: 10px;
    color: black;
    gap: 15px;
    width: 400px;
    align-items: flex-start;

}
.next-video iframe {
    width: 140px;
    height: 100px;
    border-radius: 8px;
    border: none;
}


.video-desc p {
    margin: 0;
    text-align: left;
    font-size: 14px;
}
.video-desc p:first-child {
    font-size: 12px;          
    color: #6d6d6d;           
    margin-bottom: 5px;       
    white-space: nowrap;    
}

.video-desc p:last-child {
    font-size: 14px;          
    color: #000;              
    line-height: 1.3;
}


.footer{
    background-color: white;
    padding: 0;
    border-top: 4px solid indigo
    
}
.sponsors{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin-top: 40px;
    
}
.sponsors img{
    width: 650px;
    height: 60px;
}
.footer-row-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 20px 40px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}
.footer-text{
    display: flex;
    align-items: center;
    padding: 10px 0;
    color: #555;
    font-size: 14px;
    gap: 10px;
}
.logo-f img{
    width: 60px;
    height: auto;
    margin-left: 16px;
    margin-bottom: 10px;
}

.footer-list li{
    color: #555;
    font-size: 14px;
}

