body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #5f19d3, #3b0a7a);
}


.success-box {
    width: 450px;
    text-align: center;
    padding: 35px;
    border-radius: 20px;
    background: rgba(255,255,255,0.65);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.5);
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
}


.success-box h1 {
    color: #3b0a7a;
    margin-bottom: 10px;
    font-size: 32px;
}


.success-box p {
    color: #2a2a2a;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 1.4;
}


.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #3b0a7a;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    
}

.btn:hover {
    background: #5f19d3;
    box-shadow: 0 0 10px rgba(95,25,211,0.4);
}

